@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ralewayFont);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --ralewayFont: "Raleway", sans-serif;
  --robotoFont: "Roboto", sans-serif;
  --midGray: rgb(166, 166, 166);
  --darkGray: rgb(77, 77, 77);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --blackOff: rgb(38, 38, 38);
  --whiteOff: rgb(217, 217, 217);
  --midLight: rgb(128, 128, 128);
  --colorOk: hsl(120, 100%, 35%);
  --colorBad: hsl(0, 100%, 35%);
  --hueCard: 0;
  --satCard: 0;
  --zIndexStart: 1;
  --zIndexHover: 5;
  --zIndexNav: 10;
  --zIndexMenu: 15;
  --zIndexModal: 25;
  --zIndexAlert: 100;
  --zIndexOverAll: 999;
  --fontWeightThin: 100;
  --fontWeightS: 200;
  --fontWeightM: 400;
  --fontWeightL: 600;
  --fontWeightBlack: 700;
  --fontSizeS: 1.2rem;
  --fontSizeM: 1.8rem;
  --fontSizeL: 2.2rem;
  --fontSizeXL: 2.6rem;
  --fontSizeXXL: 3rem;
  --fontSizeJumbo: 4rem;
  --fontSizeSClamp: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.8rem);
  --fontSizeMClamp: clamp(2rem, calc(1.5rem + 0.5vw), 2.2rem);
  --fontSizeXClamp: clamp(2.5rem, calc(1.5rem + 1.5vw), 4rem);
  --transitionUF: all 250ms ease;
  --transitionFast: all 500ms ease;
  --transitionMid: all 750ms ease;
  --transitionSlow: all 1000ms ease;
  --sizeXS: 0.25rem;
  --sizeS: 0.5rem;
  --sizeM: 1rem;
  --sizeL: 1.5rem;
  --sizeXL: 2rem;
  --sizeXXL: 2.5rem;
  --borderRadiusContent: 0.5rem;
  --borderRadiusInput: 2rem;
  --navHeight: 5rem;
  --fontSize: 12px;
  font-size: var(--fontSize);
  line-break: loose;
  letter-spacing: 0.15rem;
  scroll-behavior: smooth;
}

.light_theme {
  --textColor: hsl(0, 0%, 10%);
  --textContrastColor: hsl(0, 0%, 90%);
  --accentColor: hsl(200, 60%, 40%);
  --accentContrastColor: hsl(200, 100%, 90%);
  --bgColor: hsl(0, 0%, 85%);
  --bgNav: hsla(0, 0%, 90%, 0.5);
  --bgCardsContrast: hsla(0, 0%, 70%, 0.5);
  --bgMenu: hsla(0, 0%, 90%, 0.9);
  --bgModal: hsla(0, 0%, 10%, 0.7);
  --bgAlert: hsl(0, 0%, 15%);
  --bgCard: rgb(230, 230, 230);
  --bgAccent: rgb(210, 210, 210);
  --bgCardMute: hsl(0, 0%, 80%);
  --bgImage: linear-gradient(45deg, rgba(59, 6, 180, 0.8), transparent, rgba(0, 247, 255, 0.8)), url("../img/bg1.jpg") center top no-repeat;
}

.dark_theme {
  --textColor: hsl(0, 0%, 90%);
  --textContrastColor: hsl(0, 0%, 10%);
  --accentColor: hsl(190, 100%, 25%);
  --accentContrastColor: hsl(270, 100%, 15%);
  --bgColor: hsl(0, 0%, 15%);
  --bgNav: hsla(0, 0%, 10%, 0.5);
  --bgCardsContrast: rgba(77, 77, 77, 0.5);
  --bgMenu: hsla(0, 0%, 10%, 0.9);
  --bgModal: hsla(0, 0%, 90%, 0.7);
  --bgAlert: hsl(0, 0%, 85%);
  --bgCard: rgb(25, 25, 25);
  --bgAccent: rgb(40, 40, 40);
  --bgCardMute: hsl(0, 0%, 20%);
  --bgImage: linear-gradient(125deg, rgba(0, 247, 255, 0.8), transparent, rgba(59, 6, 180, 0.8)), url("../img/bg2.jpg") center top no-repeat;
}

@-webkit-keyframes blink {
  from {
    fill: var(--colorBad);
  }
  to {
    fill: var(--textColor);
  }
}

@keyframes blink {
  from {
    fill: var(--colorBad);
  }
  to {
    fill: var(--textColor);
  }
}
body {
  position: relative;
  scroll-behavior: smooth;
  color: var(--textColor);
  background: var(--bgImage);
  background-attachment: fixed;
}
body H1 {
  margin: 0;
  padding: 0;
}
body img {
  width: 100%;
}
body a {
  background: none;
  text-decoration: none;
}
body a:visited,
body a:focus,
body a:active {
  color: unset;
}
body ul {
  list-style: none;
}
body BUTTON {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
body SVG {
  width: 100%;
  height: auto;
  pointer-events: none;
}
body MAIN {
  position: relative !important;
  min-height: calc(100vh - var(--navHeight));
  margin-top: var(--navHeight);
}
body SECTION {
  min-height: calc(100vh - var(--navHeight));
  padding: var(--sizeXXL) 0;
}
body SECTION,
body MAIN {
  width: 100%;
}
body INPUT {
  display: block;
  border-radius: var(--borderRadiusInput);
  border: none;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--bgModal);
  z-index: var(--zIndexModal) !important;
}

.menu {
  position: fixed;
  top: var(--navHeight);
  right: 0;
  max-height: calc(100% - var(--navHeight));
  transform: translateX(100%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--bgMenu);
  transition: transform 500ms ease;
}

.menu_alert,
.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: var(--bgAlert);
  border-radius: var(--borderRadiusContent);
  z-index: var(--zIndexAlert);
}

.modal_alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bgCard);
  border-radius: var(--borderRadiusContent);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}
.btn .tag_btn {
  display: block;
  pointer-events: none;
}

.submit_btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: var(--sizeM) var(--sizeL);
  background: var(--midLight);
  border-radius: var(--borderRadiusContent);
}
.submit_btn .tag_btn {
  font-weight: var(--fontWeightL);
  color: var(--textColor);
}
.submit_btn:hover {
  background: linear-gradient(#667eea 0%, #764ba2 100%);
}
.submit_btn:hover .tag_btn {
  color: var(--white);
}

.clear_input_btn {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.clear_input_btn .icon_svg {
  pointer-events: none !important;
}
.clear_input_btn:hover .icon_svg .clr-1 {
  fill: red;
}

.close_element {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
}
.close_element .icon_svg {
  pointer-events: none !important;
}
.close_element:hover .icon_svg .clr-1 {
  fill: red !important;
}

.close_menu {
  width: 2rem;
  height: 2rem;
}
.close_menu .icon_svg {
  pointer-events: none !important;
}
.close_menu .icon_svg .clr-1 {
  fill: var(--textColor);
}
.close_menu:hover .icon_svg .clr-1 {
  fill: red !important;
}

.complete_btn {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.basic_btn {
  border-style: solid;
  border-width: 2px;
  border-radius: var(--borderRadiusContent);
}

.move_btn {
  padding: var(--sizeS) var(--sizeL);
}

.contrast_btn {
  background: transparent;
  border-color: var(--textContrastColor);
}
.contrast_btn .tag_btn {
  color: var(--textContrastColor);
}
.contrast_btn:hover {
  background: var(--textContrastColor);
}
.contrast_btn:hover .tag_btn {
  color: var(--textColor);
}

.normal_btn {
  background: transparent;
  border-color: var(--textColor);
}
.normal_btn .tag_btn {
  color: var(--textColor);
}
.normal_btn:hover {
  background: var(--textColor);
}
.normal_btn:hover .tag_btn {
  color: var(--textContrastColor);
}

.panel_btn {
  height: 3rem;
  width: 3rem;
  background: var(--textColor);
  color: var(--textContrastColor);
}
.panel_btn .tag_btn {
  font-size: 5rem;
}

.item_type_btn {
  padding: var(--sizeXL) 0;
  transition: var(--transitionUF);
}

.item_type_btn_active {
  background: var(--textColor);
  color: var(--textContrastColor);
}

.item_info_btn {
  padding: var(--sizeS) 0;
  transition: var(--transitionUF);
}

.card_btn {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: var(--sizeM);
  background: #667eea;
  border-radius: var(--sizeXL);
}
.card_btn .tag_btn {
  font-weight: var(--fontWeightL);
  color: var(--textContrastColor);
}

.btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
.btns_container > * {
  flex-basis: inherit !important;
}

.title_alert {
  font-size: var(--fontSizeXXL);
  color: var(--textContrastColor);
}

.title_modal_alert {
  color: var(--textColor);
}

.container {
  width: 100%;
}

.split_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
}
.split_container .left_container {
  padding-right: var(--sizeS);
}
.split_container .right_container {
  padding-left: var(--sizeS);
}
.split_container > * {
  flex-basis: 100%;
}

.count_info_container .advance_porcentage {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: var(--fontSizeJumbo);
  text-align: center;
  font-family: var(--robotoFont);
  font-weight: var(--fontWeightThin);
}
.count_info_container .bar_porcentage_container {
  width: 100%;
  height: 1rem;
  margin-top: var(--sizeS);
  border-radius: var(--borderRadiusInput);
  background: var(--bgAlert);
}
.count_info_container .bar_porcentage_container .bar_porcentage {
  display: block;
  height: 100%;
  width: 90%;
  background: var(--colorOk);
  border-radius: 2rem;
}
.count_info_container .advance_count {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding-top: var(--sizeS);
}
.count_info_container .advance_count > *,
.count_info_container .advance_count *::after,
.count_info_container .advance_count *::before {
  font-family: var(--robotoFont);
}

.cards_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  min-height: 5rem;
  margin-top: var(--sizeL);
  overflow: hidden;
  border-radius: var(--borderRadiusContent);
  padding: var(--sizeL) var(--sizeL);
}
.cards_container .noItems_text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--bgCardsContrast);
}

.input_container {
  position: relative;
}

.complete_input {
  width: 100%;
}

.input_item {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.input_item .logIn_input {
  padding: var(--sizeS) 0 var(--sizeS) var(--sizeM);
}
.input_item .clear_input_btn .icon_svg .clr-1 {
  fill: var(--textColor);
}

.search_input {
  background: var(--bgCardMute);
  color: var(--textColor);
  padding: var(--sizeS) 0 var(--sizeS) var(--sizeM);
}

.input_item,
.search_container {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.item_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  min-width: 15rem;
  background: var(--bgAlert);
  color: var(--textContrastColor);
  border-radius: var(--borderRadiusContent);
  padding: var(--sizeM) var(--sizeL);
}
.item_card .extra_info {
  display: block;
}
.item_card .info_container {
  background: var(--bgCard);
  color: var(--textColor);
  border-radius: var(--borderRadiusContent);
  padding: var(--sizeM);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.basic_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: var(--borderRadiusContent);
  padding: var(--sizeM) var(--sizeL);
}
.basic_card .extra_data_container,
.basic_card .info_container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.basic_card .extra_span {
  display: block;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.contrast_card {
  background: var(--bgAlert);
  color: var(--textContrastColor);
}
.contrast_card .icon_svg .clr-1 {
  fill: var(--textContrastColor);
}

.normal_card {
  background: var(--bgCard);
  color: var(--textColor);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--navHeight);
  background: var(--bgNav);
  z-index: var(--zIndexNav);
}
.header .navbar_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: clamp(200px, 1400px, 90%);
  height: 100%;
}
.header .navbar_top .logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 100%;
  padding: 0.5rem;
}
.header .navbar_top .logo_container .icon_svg .clr-1 {
  fill: var(--textColor);
}
.header .navbar_top .links_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header .navbar_top .links_container .link_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 var(--sizeM);
  font-weight: var(--fontWeightL);
  color: var(--textColor);
}
.header .navbar_top .links_container .link_btn:hover {
  background: var(--accentColor);
  color: var(--textContrastColor);
}
.header .navbar_top .links_container #user_menu_btn {
  height: 100%;
  width: 4rem;
}
.header .navbar_top .links_container #user_menu_btn .icon_svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.header .navbar_top .links_container #user_menu_btn .icon_svg .clr-1 {
  fill: var(--textColor);
}
.header .navbar_top .links_container #user_menu_btn:hover .icon_svg .clr-1 {
  fill: var(--textContrastColor);
}

.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section .section_content {
  width: 90%;
  min-height: 90%;
}
.section .section_content .header_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: var(--sizeM);
}

#user_menu .user_menu_extra_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
#user_menu .user_menu_extra_btns_container .config_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#user_menu .user_menu_extra_btns_container .config_btns_container .config_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  padding: var(--sizeS);
  cursor: pointer;
}
#user_menu .user_menu_extra_btns_container .config_btns_container .config_btn .icon_svg .clr-1 {
  fill: var(--textColor);
}
#user_menu .user_menu_extra_btns_container .config_btns_container .config_btn:hover {
  background: var(--accentColor);
}
#user_menu .user_menu_extra_btns_container .config_btns_container .config_btn:hover .icon_svg .clr-1 {
  fill: var(--textContrastColor);
}
#user_menu .info_user_container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: var(--sizeM) var(--sizeXL);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#user_menu .info_user_container #img_user_menu {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: red;
}
#user_menu #close_session_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  background: linear-gradient(#667eea 0%, #764ba2 100%);
  padding: var(--sizeM) 0;
}

#config_menu {
  opacity: 0;
  display: none;
}
#config_menu .close_element .icon_svg .clr-1 {
  fill: var(--textContrastColor);
}

/* 
//¿VERBALIZACIONES SECTION
#verbalizaciones_section {
}
//¿ ITEMS SECTION
#items_section {
} 
*/
.copyright_label_container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.copyright_label_container .icon_container {
  height: 2.5rem;
  width: 2.5;
  padding: var(--sizeM) 0;
}
.copyright_label_container .icon_svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.verbalizacion_card {
  width: 20rem;
  min-height: 20rem;
}
.verbalizacion_card .info_container .btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: var(--sizeM);
}

#logIn_modal .logIn {
  width: 30rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: var(--bgCard);
  border-radius: var(--borderRadiusContent);
  overflow: hidden;
}
#logIn_modal .logIn .header_logIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(90deg, hsla(0deg, 0%, 0%, 0.7), transparent), url("../img/logIn.jpg") top no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
}
#logIn_modal .logIn .header_logIn .logo_container {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#logIn_modal .logIn .header_logIn .logo_container .icon_svg .clr-1 {
  fill: var(--white);
}
#logIn_modal .logIn .header_logIn .form_title {
  color: var(--white);
}
#logIn_modal .logIn .form_logIn {
  margin-top: var(--marginTopActions);
  padding: var(--sizeM) var(--sizeL);
}
#logIn_modal .logIn .form_logIn .input_item {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: var(--sizeM);
}
#logIn_modal .logIn .form_logIn .input_item .input_info {
  margin-top: var(--sizeS);
}
#logIn_modal .logIn .form_logIn .input_item .response_container {
  opacity: 0;
  display: none;
  transition: all 500 ease;
  background: transparent;
  border-radius: var(--borderRadiusContent);
  padding: var(--sizeS) var(--sizeM);
}
#logIn_modal .logIn .form_logIn .input_item .response_container .response_container_text {
  color: var(--white);
}
#logIn_modal .logIn .btns_container .submit_btn {
  justify-content: flex-end;
}

#welcome_alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  display: none;
  transition: all 500ms ease;
  padding: var(--sizeL);
}
#welcome_alert .user_name_welcome_alert {
  font-size: var(--fontSizeXL);
  color: var(--accentContrastColor);
}

#verbalizacion_modal_alert {
  top: var(--navHeight);
  opacity: 0;
  display: none;
  height: calc(100vh - var(--navHeight));
}
#verbalizacion_modal_alert .modal_alert {
  top: 4rem;
  transform: translate(-50%, 0);
  width: clamp(200px, 1000px, 90%);
  min-height: 20rem;
  overflow: hidden;
}
#verbalizacion_modal_alert .modal_alert .close_element .icon_svg .clr-1 {
  fill: var(--textColor);
}
#verbalizacion_modal_alert .modal_alert .basic_info_container {
  background: var(--accentColor);
  padding: var(--sizeL) var(--sizeXL) var(--sizeS);
  text-align: center;
  color: var(--white);
}
#verbalizacion_modal_alert .modal_alert .anwsers_data_container {
  padding: var(--sizeM) var(--sizeXL) 0;
}
#verbalizacion_modal_alert .modal_alert .anwsers_data_container .subtitle_verbalizaciones_alert {
  text-align: end;
}
#verbalizacion_modal_alert .modal_alert .anwsers_data_container .search_container {
  margin-top: var(--sizeS);
}
#verbalizacion_modal_alert .modal_alert .anwsers_data_container .move_btn {
  color: var(--textColor);
}
#verbalizacion_modal_alert .modal_alert .anwsers_data_container .answers_cards_container {
  border: solid 2px var(--midLight);
  border-radius: var(--borderRadiusContent);
  min-height: 8rem;
  padding: var(--sizeXS);
}
#verbalizacion_modal_alert .modal_alert .anwsers_data_container .answers_cards_container .answers_cards_text {
  opacity: 0.5;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#verbalizacion_modal_alert .modal_alert .btns_container {
  padding: var(--sizeM) var(--sizeXL) var(--sizeM);
}
#verbalizacion_modal_alert .modal_alert .btns_container .move_btn {
  border-color: var(--textColor);
}
#verbalizacion_modal_alert .modal_alert .btns_container .move_btn .tag_btn {
  font-weight: var(--fontWeightL);
  color: var(--textColor);
}
#verbalizacion_modal_alert .modal_alert .btns_container .move_btn .icon_svg .clr-1 {
  fill: var(--textColor);
}

.extra_btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2rem;
  border: solid 2px red;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
  border-radius: 50%;
  z-index: var(--zIndexOverAll);
}
.extra_btn .icon_svg .clr-1 {
  fill: red;
}

#delete_db_btn {
  left: 2rem;
}

#change_theme_btn {
  right: 2rem;
}